<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
          
      <!--Responsive Website-->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
                
      <!--(CDN) Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          
      <!--(CDN) Import Compiled and minified CSS -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    </head>
  <body>
    <div class="navbar-fixed">
      <nav class="header">
        <div class="nav-wrapper">
          <a class="brand-logo return" href="index.html">MoreRecipes</a>
          <a href="#" data-activates="navlink" class="button-collapse"><i class="material-icons">menu</i></a>         
          <ul class="right hide-on-med-and-down return">
            <li>
              <a class="" href="signin.html">Sign In</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="row center-align">
      <div class="col s12 l6 m8 offset-l3 offset-m2">
        <div class="card teal darken-1">
          <div class="card-content white-text">
            <h6>Fill the Form below to Sign Up now</h6>
          </div>
        </div>
      </div>
    </div>
    <div id="form" class="container">
      <div class="row">
        <form class="col l6 m8 s12 offset-l3 offset-m2">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">email</i>
              <input id="email" type="email" class="validate" required>
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">account_circle</i>
              <input id="username" type="text" class="validate" required>
              <label for="username" data-error="Username is not available">Username</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input id="password" type="password" class="validate" required>
              <label for="password" data-error="Invalid password">Password</label>
            </div>
          </div>
          <div class="col s12 l12 m12 center-align">
            <button class="btn waves-effect waves-light white-text" type="submit" name="action">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
    <ul class="side-nav" id="navlink">
      <li class="">
        <a class="" href="signin.html">Log In</a>
      </li>
    </ul>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </body>
</html>