.modal {
    max-height: 90%;
}
  
.modal-form-row {
    margin-bottom: 0px;
}
.bgimage{
    background-color: #ef9a9a;
    background-image: url('../images/homeimg.jpg');
    max-width: 100%;
    height:auto;
}

.parallax-container {
    height: 100%;
}

.bgcolor{
    background-color: #ef9a9a
}
  
flex {
    flex: 1 0 auto;
}
  
label {
      width: 100%;
  }  